<h1>Sign In</h1>

<form action=<%= session_url %> method='POST'>
  <%= auth_token %>
  <label for="user_username">Username</label>
  <br>
  <input type="text" name="user[username]" id="user_username">
  <br>

  <label for="user_password">Password</label>
  <br>
  <input type="password" name="user[password]" id="user_password">
  <br>

  <input type="submit" value="Sign In">
</form>

New to Pixor? <%= link_to "Sign Up!", new_user_url %>
