<h1>Sign Up</h1>

<form action=<%= users_url %> method='POST'>
  <%= auth_token %>
  <input type="text" name="user[username]" id="user_username" value="<%= @user.username %>" placeholder="Username">
  <br>

  <input type="password" name="user[password]" id="user_password" placeholder="Password">
  <br>

  <input type="submit" value="Sign Up">
</form>

Already have an account? <%= link_to "Sign In!", new_session_url %>
