.media-form {
  margin: auto;
  margin-top: 50px;
  padding: 50px;
  width: 700px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #e0e8ee;;
}

.media-title {
    margin-bottom: 20px;
    width: 220px;
    height: 30px;
    font-size: 16px;
    margin: auto;
    padding-left: 5px;
}

.media-desc {
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-top: 5px;
  width: 212px;
  height: 195px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #fff;
}

.media-img {
  float: right;
  width: 350px;
  height: 250px;
  border: 1px solid black;
  border-radius: 10%;
  background-color: #fff;
}

.media-submit {
  width: 150px;
  height: 20px;
  margin-left: 15%;
  line-height: 0;
}

.media-upload-button {
  width: 100px;
  height: 20px;
  margin-top: 20px;
  margin-left: 40%;
  line-height: 0;
}

.media-reset {
  width: 100px;
  height: 20px;
  margin-top: 23px;
  margin-left: 10%;
  line-height: 0;

}

.media-form .column1 {
  width: 25%;
  padding-left: 4%;
  height: 290px;
  float: left;
}

.media-form .column2 {
  width: 70%;
  height: 290px;
  float: right;
}
