@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap.lumen";

p, span {
  white-space: pre;
}

.feed-index {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.panel {
  width: 100%;
  margin-bottom: 40px;
}

.page-header, .jumbotron {
  text-align: center;
}

.panel-body {
  padding: 0px;
  margin: 0px;
  position: relative;
}

.comment-section {
  padding-left: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.comment-section .form-group {
  margin-right: 10px;
}

.post-controls {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.panel-media img {
  display: inline;
  padding: 0px;
  width: 100%;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

.panel-body .glyphicon {
  margin: 5px;
}

#navbar-feed-separator {
  margin-bottom: 80px;
}

.feed-item-caption {
  width: 80%;
  word-wrap: break-word;
}

nav .container-fluid {
  max-width: 620px;
}
